{% block head %}
  <head>
    <link rel="stylesheet" type="text/css" src="{{ url_for('static', filename='css/base.css') }}">
  </head>
{% endblock head %}

{% block navbar %}
  <nav class="navbar">
    <ul id="navbar-index">
      <li><a href="{{ url_for('splash.replay') }}">Replay animation?</a></li>
    </ul>
    <ul>
      <li id="navbar-home"><a href="{{ url_for('splash.index') }}">Home</a></li>
      <li id="navbar-admin"><a href="{{ url_for('admin.admin') }}">Admin</a></li>
      <li id="navbar-inv"><a href="{{ url_for('inv.inv') }}">Inventory</a></li>
      <li id="navbar-text"><a href="{{ url_for('text_search.text_search') }}">Text Search</a></li>
      <li id="navbar-pic"><a href="{{ url_for('pic_search.pic_search') }}">Image Search</a></li>
    </ul>
  </nav>
{% endblock navbar %}

{% block flashed_messages %}
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <div id="messages">
        <ul>
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}
  {% endwith %}
{% endblock flashed_messages %}

{% block main_content %}{% endblock main_content %}