{% extends "bpaint/base.html" %}

{% block main_content %}
  <div class="details">
    <ul>{{ colors['current'['name']] }}
      <li><img src="{{ colors['current'['swatch']] }}" alt="{{ colors['current'['name']] }}"></li>
      {{ colors['current'] }}
      <li>Medium: {{ colors['current'['medium']] }}</li>
      <li>Pure? {{ 'Yes' if colors['current'['pure']] else 'No' }}</li>
    </ul>
    <ul>Recipe:
      {% for color in colors['current'['recipe']] %}
        <li>
            <a href="/details/{{ color.id }}">
          <img src="{{ color.swatch }}" alt="{{ color.name }}">
          <p>{{ color.name }}</p>
          </a>
        </li>
      {% endfor %}
    </ul>
    <ul>Used in:
      {% for color in colors['current'['used_in']] %}
        <li>
          <a href="/details/{{ color.id }}">
            <img src="{{ color.swatch }}" alt="{{ color.name }}">
            <p>{{ color.name }}</p>
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
{% endblock main_content %}
