<style type="text/css">
	#navbar-index {
		display: none;
	}

	#navbar-text {
		display: none;
	}
</style>

{% extends "bpaint/base.html" %}

{% block main_content %}
  <h2>Search by Color Name</h2>
  <input type="text" id="text-search" placeholder="Color Name" oninput="fuzzySearchName(this.value.trim())">
  <div id="results">
	{% for id, content in display_info.items() %}
		<div id="{{ content['name'] }}" class="result">
		<h3>{{ content['name'] }}</h3>
		<img src="{{ content['swatch'] }}" alt="{{ content['name'] }}">
		<br>
		<caption>Used in:
			<ul id="used_in_ul">
			{% if content['used_in'] %}
				{% for color in content['used_in'] %}
					<li>{{ color }}</li>
				{% endfor %}
			{% else %}
				<li>None</li>
			{% endif %}
			</ul>
		</caption>
		</div>
	{% endfor %}
  </div>
  <div id="used_in_div" hidden>
    <h4>Colors Using This:</h4>
  </div>

  <script>
	results = document.querySelectorAll('.result');

	function fuzzySearchName(string) {
		if (string == ''){
			location.reload()
		}
		results.forEach(function(div) {
			div.hidden = !div.id.includes(string);
		});
		fuzzySearchUsedIn(string);
	}

	function fuzzySearchUsedIn(string) {
		let used_in_div = document.querySelector('#used_in_div');
		let used_in_display = Array();
		results.forEach(function(div) {
			let used_in_lis = div.querySelectorAll('#used_in_ul li');
			used_in_lis.forEach(function(li) {
				if (li.innerText != 'None' && li.innerText.includes(string)) {
					used_in_display.push(div);
					used_in_div.insertBefore(div, used_in_div.querySelector('h4').nextElementSibling);
				}
			});
		});
		if (used_in_display.length > 0) {
			used_in_div.hidden = false;
			for (let i = 0; i < used_in_div.children.length; ++i) {
				used_in_div.children[i].hidden = false;
			}
		}
	}
  </script>
{% endblock main_content %}