{% extends 'admin/db_home.html' %}

{% block main_content %}
  <form action="" autocomplete="on" method="post" name="db-add" enctype="multipart/form-data">
    <div hidden>
      {{ form.csrf_token }}
    </div>
    {% for field in form if field.name != 'csrf_token' %}
        {% if field.label.text in images.keys() %}
          <div class="recipe">
            {{ field.label() }}
            <img src="{{ images[field.label.text] }}" alt="{{ field.label.text }}">
            {{ field() }}
          </div>
        {% else %}
          <div>
            {{ field.label() }}
            {{ field() }}
          </div>
        {% endif %}
        {% for error in field.errors %}
          <div class="error">{{ error }}</div>
        {% endfor %}
      </div>
    {% endfor %}
  </form>
  <script src="{{ url_for('admin.static', filename='javascript/recipe.js') }}"></script>
{% endblock main_content %}
