{% extends 'admin/db_home.html' %}

{% block main_content %}
  <form action="" autocomplete="on" method="post" name="db-add" enctype="multipart/form-data">
    <div hidden>
      {{ form.csrf_token }}
    </div>
    {% for field in form if field.name != 'csrf_token' %}
      <div>
        {{ field.label() }}
        {{ field() }}
        {% for error in field.errors %}
          <div class="error">{{ error }}</div>
        {% endfor %}
      </div>
    {% endfor %}
  </form>
  {% if recipe %}
    <div id="recipe">
      {% for id, name in recipe %}
        <div id="{{ id }}" hidden></div>
	<label for="recipe-{{ id }}">{{ name }}</label>
	<input class="recipe-ingredient-quantity" name="recipe-{{ id }}" type="number" value="0">
      {% endfor %}
    </div>
    <script src="{{ url_for('admin.static', filename='javascript/recipe.js') }}"></script>
  {% else %}
    <script src="{{ url_for('admin.static', filename='javascript/no_recipe.js') }}"></script>
  {% endif %}
  <script src="{{ url_for('admin.static', filename='javascript/admin.js') }}"></script>
{% endblock main_content %}
