{% extends 'admin/db_home.html' %}

{% block main_content %}
  <form action="" autocomplete="on" method="post" name="db-add" enctype="multipart/form-data">
    <div hidden>
      {{ form.csrf_token }}
    </div>
    {% for field in form if field.name != 'csrf_token' %}
      <div>
        {{ field.label() }}
        {{ field() }}
        {% for error in field.errors %}
          <div class="error">{{ error }}</div>
        {% endfor %}
      </div>
    {% endfor %}
    {% if recipe %}
      <div id="recipe">
        {% for id, name, swatch in recipe %}
          {{ form[f'{id}'] = {{ f'{id}'|IntegerField }}
          {{ form[f'{id}'].label() }}
  	      <img src="{{ swatch }}" alt="{{ swatch }}">
          {{ form[f'{id}']() }}
        {% endfor %}
        {{ form['submit'].label() }}
        {{ form['submit']() }}
      </div>
    {% endif %}
  </form>
  <script src="{{ url_for('admin.static', filename='javascript/recipe.js') }}"></script>
{% endblock main_content %}
