{% extends 'admin/db_home.html' %}

{% block main_content %}
  <form action="" method="post">
      {% if records %}
        {% for record in records %}
          <div>
            {% if next_action == 'update' %}
              <input type="radio" name="update" value="{{ record.id }}" id="update-record-{{ record.id }}" />
              <label for="update-record-{{ record.id }}">{{ record }}</label>
            {% else %}
              <input type="checkbox" name="delete" value="{{ record.id }}" id="delete-record-{{ record.id }}" />
              <label for="delete-record-{{ record.id }}">{{ record }}</label>
            {% endif %}
          </div>
        {% endfor %}
        <input type="submit" value="Submit" />
      {% else %}
        <h1>No records to display</h1>
      {% endif %}
  </form>
{% endblock main_content %}