{% extends 'admin/db_add.html' %}

{% block main_content %}
  {{ super() }}

  <link rel="stylesheet" type="text/css" href="{{ url_for('admin.static', filename='css/admin.css') }}">

  {% if current %}
    <div id="current-swatch">
      <h2>Currently:</h2>
      <h3>{{ current[1] }}</h3>
      <img src="{{ current[0] }}" alt="{{ current[1] }}">
    </div>
    <script src="{{ url_for('admin.static', filename='javascript/update.js') }}"></script>
  {% endif %}

  <script>
    if (document.querySelectorAll('#pure').length == 2) {
      document.querySelector("label[for='submit2']").hidden = true;
			document.getElementById('submit2').hidden = true;
    }
  </script>
{% endblock main_content %}