<style type="text/css">
	#navbar-index {
		display: none;
	}

	#navbar-inv {
		display: none;
	}
</style>

{% extends "bpaint/base.html" %}

{% block main_content %}
  <form action="" method="post" name="inv">
    <div hidden>
	  {{ form.csrf_token }}
	</div>
	{% for field in form if field.name != 'csrf_token' %}
        {% if field.label.text in images.keys() %}
          <div class="inventory-item">
            {{ field.label() }}
            <img src="{{ images[field.label.text] }}" alt="{{ field.label.text }}">
            {{ field() }}
          </div>
        {% else %}
          <div>
            {{ field.label() }}
            {{ field() }}
          </div>
        {% endif %}
	{% endfor %}
{% endblock main_content %}